.primary-text {
  color: #ffffff;
}
.highlighted-text {
  color: #ff5823;
}

.profile-container {
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 24px;
  font-family: sans-serif;
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14 px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}

.profile-details-role .profile-name-tagline {
  font-size: 19px;
  margin: 0px 0 20px 0;
  font-family: sans-serif;
}
.profile-options {
  margin: 0 0 10px 0;
}

.profile-options .btn {
  width: 200px;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  /* border: solid #ffffff 2px; */
  text-decoration: none;
  /* margin: 10px; */
}
.profile-options .hire-me {
  color: aliceblue;
  background: rgba(0, 0, 0, 0.4);
  border: solid #ffffff 2px;
  text-decoration: none;
}
.profile-options .hire-me:hover {
  border: 2px solid #ff5823;
  background: #1f2235;
  text-decoration: none;
}
.profile-options .download-cv {
  margin: 0 0 0 28px;
  background: #ff5823;
  text-decoration: none;
}
.profile-options .download-cv:hover {
  margin: 0 0 0 28px;
  /* color: #111; */
  border: 2px solid #ffffff;
  /* background: cornsilk; */
  text-decoration: none;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 #ffffff;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0 0 150px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-image: url(../../../Assets/Home/profile-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.colz .colz-icons i {
  color: white;
  padding: 10px;
  padding-left: 0px;
}
.colz .colz-icons i:hover {
  transform: scale(1.5);
}

/* **************************** Responsiveness  ********************** */

@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 100;
  }
}
@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}
@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-text {
    margin: 0 !important;
  }
  .profile-options .profile-details-role {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .profile-details {
    width: 90%;
  }
}
