.shape-container{
    height: 17%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.shape-parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}
.shape-parent img{
    width: 100%;
    max-width: 100%;
    height: 100px;
}
@media only screen and (max-width: 1110px) {
    .shape-parent{
        display: flex;
        align-items: flex-end;
    }

}
